<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>html</title>
</head>
<body>
    <div id="app">

        <!-- Header logo+titolo -->
    <header>
        <div id="header_logo">
            <img id="logo" src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/Boolean/original.png?1623187562" alt="Logo Boolean">
            <span id="logo_title">Toboolist</span>
        </div>
    </header>

    <main>
        <div class="container">

            <!-- Button menù -->
            <nav id="button_menu">
                <div id="button_container">
                    <input id="text-input" type="text" placeholder="Inserisci nuova task" v-model="nuovaTask">
                    <button id="add_button" @click="addTask">Aggiungi</button>
                </div>
                <div id="error" v-show="error">Errore, inserisci una task prima di premere aggiungi</div>
            </nav>

            <div id="task-container">
                <ul id="task-list">
                    <li id="task" v-for="(task, index) in tasks" v-if="tasks.length > 0">
                        <span :class="(task.done == true)?'line-through':''">{{task.text}}</span> 
                        <i class="fa-solid fa-xmark" @click="removeTask(index)"></i>
                    </li>
                    <div id="notask-text" v-else>Bravo, sei libero!</div>
                </ul>
            </div>


        </div>
    </main>

    </div>



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>